.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #000000; /* Donkere achtergrond voor teletekst-look */
    transition: width 0.5s; /* Smooth transition */

    .toggle-sidebar-btn {
        position: fixed;
        bottom: 25px;
        left: 260px;
        z-index: 10;
        background-color: #333;
        border: none;
        padding: 10px;
        opacity: .7;
        color: #f0f0f0;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
        transition: transform 0.5s;
    
        &:hover {
            background-color: #555;
        }
    }
    
    &.collapsed {
        width: 0;
        overflow: hidden;
        padding: 0;

        .toggle-sidebar-btn {
            transform: translateX(-260px);
        }        
    }

    h2 {
        margin-bottom: 20px;
        color: #ff9800;
    }

    ul {
        list-style: none;
    }

    .task {
        cursor: pointer;
        background-color: #0d0d0d;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 2px;
        transition: background-color 0.3s, border-color 0.3s;
        border: 1px solid #333;

        &:hover {
            background-color: #333;
        }

        &.add {
            background-color: #1a1a1a;
            opacity: 0.8;
            text-align: center;

            &:hover {
                background-color: #333;
            }
        }
    }

    .sublist {
        margin-top: 10px;

        .sublist-header {
            margin-bottom: 10px;
            color: #ff9800;
            display: flex;
            justify-content: space-between;

            .removeList {
                opacity: 0;
                cursor: pointer;
            }

            &:hover .removeList {
                opacity: 0.3;
            }
        }
    }

    hr {
        border: 1px solid #333;
        margin: 10px 0;
    }

    .addList {
        background-color: #1a1a1a;
        opacity: 0.7;
        text-align: center;
        transition: transform 0.2s;

        &:hover {
            transform: scale(0.95);
            background-color: #333;
        }
    }
}


